.tabledragextra-shuffle {
  font-size: 0.9em;
  margin-left: 1em;
}

.draggable a.tabledragextra-move {
  float: left;
  height: 1.7em;
  margin: -0.4em 0 -0.4em -0.5em;
  padding: 0.42em 1.5em 0.42em 0.5em;
  text-decoration: none;
}

.draggable a.tabledragextra-move .tabledragextra-button {
  height: 13px;
  margin-top: 4px;
  width: 13px;
}

.draggable a.tabledragextra-move-start .tabledragextra-button {
  background: url("move-up.png") no-repeat scroll 0 0 transparent;
}

.draggable a.tabledragextra-move-end .tabledragextra-button {
  background: url("move-down.png") no-repeat scroll 0 0 transparent;
}

form .field-multiple-table td.field-multiple-drag {
  width: 70px;
}

form .field-multiple-table td.field-multiple-drag a.tabledragextra-move {
  padding-right: 0.5em;
}
